SDEV220 Carolyn Dickenson 04/10/2024

11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'.
Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [11]:
import zoo
zoo.hours()

Open 9-5 daily

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [12]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db
that you just made in exercise 16.4. As in 16.6, select and print the title
column from the book table in alphabetical order.

In [1]:
#SQLite Database called 'books.db'abs
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Create the books table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

conn.commit()
conn.close()

# 16.5 Read books2.csv and Insert Its Data into the books Table
import csv

# Read the CSV file and insert data into the books table
with open('books2.csv', 'r') as file:
    reader = csv.DictReader(file)
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    for row in reader:
        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)",
                       (row['title'], row['author'], row['year']))
    conn.commit()
    conn.close()

# 16.6 Select and Print the Title Column from the books Table in Alphabetical Order
# Select and print the title column in alphabetical order
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('SELECT title FROM books ORDER BY title')
print("Titles in alphabetical order:")
for row in cursor.fetchall():
    print(row[0])
conn.close()


# 16.7 Select and Print All Columns from the books Table in Order of Publication
# Select and print all columns in order of publication
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('SELECT * FROM books ORDER BY year')
print("\nBooks in order of publication:")
for row in cursor.fetchall():
    print(row)
conn.close()

# 16.8 Use SQLAlchemy to Select and Print Titles in Alphabetical Order

from sqlalchemy import create_engine, select, Table, MetaData

# Connect to the database using SQLAlchemy
engine = create_engine('sqlite:///books.db')
metadata = MetaData()
metadata.reflect(bind=engine)
books_table = metadata.tables['books']

# Create a select query to get titles in alphabetical order
query = select(books_table.c.title).order_by(books_table.c.title)

# Execute the query and print the results
with engine.connect() as connection:
    result = connection.execute(query)
    print("\nTitles from books table (using SQLAlchemy):")
    for row in result:
        print(row[0])

Titles in alphabetical order:
Perdido Street Station
Perdido Street Station
Perdido Street Station
Small Gods
Small Gods
Small Gods
The Spellman Files
The Spellman Files
The Spellman Files
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
Thud!
Thud!
Thud!

Books in order of publication:
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Small Gods', 'Terry Pratchett', 1992)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('Thud!', 'Terry Pratchett', 2005)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)

Titles from books table (using SQLAlchemy):
Perdido Street Station
Perdido Street Station
Perdido Street Station
Small Gods
Small Gods
Small Gods
The Spellman Files
The Spellman Files
The Spellman Files
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
Thud!
Thud!
Thud!